body {
  padding: 2em;
  background-color: #921710;
}

#canvasBox {
  margin: 2em;
  display: block;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #6b0000;
}

img.jewel {
  --scale: scale(75%);
  --translate: translate(-50%, -50%);
  position: absolute;
  transform: var(--translate) var(--scale);

  &.flip {
    transform: var(--translate) var(--scale) rotate(90deg);
  }

  &.uncovered {
    --scale: scale(0);
    transition: transform 1s;
  }
}

#tree {
  width: 400px;
  height: 200px;
  margin: 2em;
  display: flex;
  align-items: center;
  position: relative;

  & > .jewel {
    position: static;
    display: inline-block;
    transform: none;
    &.flip {
      transform: rotate(90deg);
    }
  }
}

.jewel.shadow {
  filter: grayscale(100%) contrast(0.05);

  &.uncovered {
    filter: none;
    transition: filter 1s ease-in;
  }
}

#cladding {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(var(--size, 5), 1fr);
  grid-template-rows: repeat(var(--size, 5), 1fr);
  border: solid thick black;
  border-radius: 0.5em;
  z-index: 1;

  & > div {
    background-color: black;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: #c28550;
      border: solid thin black;
      border-radius: 0.5em;
    }

    &.hidden {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}
