html {
  margin: 0;
  padding: 0;

  --darkBg: #6b0000;
  --bg: #921710;
  --lightBg: #c28550;
}

body {
  margin: 0;
  padding: 1em;
  background-color: var(--bg);
  background: radial-gradient(#ff3020, var(--bg));
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: 100svh;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

h1 {
  margin: 0;
  color: var(--lightBg);
  filter: brightness(1.6);
  flex: 0 1;
  align-self: stretch;
  text-align: center;

  .otherGame {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--lightBg);
    font-weight: normal;
    font-size: 80%;
    line-height: 125%;
  }
}

#tree {
  width: 400px;
  max-height: 400px;
  margin: 1em;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  position: relative;
  border: solid 0.35em var(--darkBg);
  border-radius: 0.75em;
  overflow: hidden;

  & > svg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      ellipse 200% 150% at 50% 150%,
      #0f0,
      #080 50%,
      #5cffff 50%,
      #6363ef
    );

    .jewel.shadow {
      filter: grayscale(100%) contrast(0.05) drop-shadow(0px 0px 0.05px black);

      &.uncovered {
        filter: none;
        transition: filter 1s 1s ease-in;
      }
    }

    path {
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }

    .branch {
      stroke-width: 0.2;
      stroke: var(--bg);
      stroke: #7a140f;
    }

    .branchOutline {
      stroke-width: 0.3;
      stroke: black;
    }
  }
}

#pyramid {
  width: 400px;
  max-height: 400px;
  margin: 1em;
  flex: 1 1 100%;
  position: relative;
  border: solid 0.35em var(--darkBg);
  border-radius: 0.75em;
  overflow: hidden;

  & .jewel {
    --translating: translate(0, 0);
    box-sizing: border-box;
    transition: filter 0.5s ease-in, opacity 0.5s ease-in;

    &.shadow {
      filter: grayscale(100%) contrast(0.05) drop-shadow(0px 0px 0.05px black);
      opacity: 0.5;
    }
  }
}

#movesBox {
  position: relative;
  width: 400px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    background: transparent;
    width: 1em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 1em 0 0 var(--darkBg);
  }

  &::after {
    content: '';
    background: transparent;
    width: 1em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 0 1em 0 0 var(--darkBg);
  }

  #movesCountWrapper {
    position: relative;
    display: flex;
    align-items: end;

    #movesCount {
      display: block;
      background-color: var(--lightBg);
      color: var(--bg);
      margin: 0.25rem 0.25rem 0;
      padding: 0 1rem;
      border-radius: 0.5rem;
      z-index: 1;

      font-size: 250%;
      line-height: 1em;
      min-width: 6rem;

      box-sizing: content-box;
      text-align: center;
      font-weight: bold;

      &.tomorrow {
        font-size: 125%;
        line-height: 2em;
        font-weight: normal;
      }
    }

    #moveBonusFloat {
      position: absolute;
      left: 100%;
      top: 0;

      & > * {
        position: absolute;
        margin-left: 0.25em;
        font-size: 250%;
        line-height: 1em;
        color: var(--lightBg);
        filter: brightness(1.6);
        text-shadow: 0.1em 0.1em 0.2em black;
        animation: floatUp 1s ease-in both;
      }
    }

    &::before {
      content: '';
      background-color: var(--darkBg);
      position: absolute;
      inset: 0;
      border-radius: 0.75em 0.75em 0 0;
    }
  }

  #replay {
    position: absolute;
    left: 0;
    top: 0;

    font-size: 1.6em;
    height: 1em;
    width: 1em;
    line-height: 1em;
    padding: 0.1em;
    box-shadow: inset -0.1em -0.1em 0.1em #0004, inset 0.1em 0.1em 0.1em #fff4;
    border: solid 0.25rem var(--darkBg);
    border-radius: 50%;
    text-align: center;
    background-color: var(--lightBg);
    color: var(--bg);
    font-weight: bold;

    &::before {
      content: 'R';
      color: var(--bg);
    }

    &.cancel::before {
      content: 'X';
    }

    transition: opacity 1s;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(-1.5em);
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@property --scale {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@keyframes pulsate {
  from {
    --scale: 100%;
  }
  60% {
    --scale: 97%;
  }
  80% {
    --scale: 102%;
  }
  to {
    --scale: 100%;
  }
}

#canvasBox {
  display: block;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
  background-color: var(--darkBg);
  border: solid 0.25em var(--darkBg);
  border-radius: 0.75em;
}

img.jewel {
  --scaling: scale(90%);
  --translating: translate(-50%, -50%);
  position: absolute;
  transform: var(--translating) var(--scaling);

  &.flip {
    transform: var(--translating) var(--scaling) rotate(90deg);
  }

  &.uncovered {
    --scaling: scale(0);
    transition: transform 1s 1s;
  }

  /* remove translation for jewel-merge */
  #jewels.merging & {
    --translating: translate(0, 0);

    &:not(.justMoved) {
      transition: transform 0.5s, left 0.2s linear, top 0.2s ease-out;
    }

    /* hide the jewel on the board while it's being dragged */
    &.dragging {
      opacity: 0;
    }

    &.disappearing {
      --scaling: scale(0);
      z-index: 1;
      &:not(.justMoved) {
        transition: transform 0.3s ease-in;
      }
    }

    &.appearing {
      --scaling: scale(0);
    }

    &.newlyPlaced {
      --translating: translate(0, -200%);
    }

    &.dragover:not(.dragging) {
      anchor-name: --dragover-jewel;

      #jewels.merging:has(&)::after {
        z-index: 10;
        content: ' ';
        position: absolute;
        position-anchor: --dragover-jewel;
        top: anchor(center);
        left: anchor(center);
        width: 4.8em;
        height: 4.8em;
        border-radius: 100%;
        border: solid 0.4em #ff7;
        --scale: 100%;
        transform: translate(-50%, -50%) scale(var(--scale));
        pointer-events: none;
        filter: blur(0.1em);
        animation: appear 0.2s ease-out both, pulsate 0.5s ease-in-out infinite;
        transition: --size ease-in-out;
      }
    }
  }
}

#cladding {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(var(--size, 5), 1fr);
  grid-template-rows: repeat(var(--size, 5), 1fr);
  border-radius: 0.5em;
  z-index: 1;

  &.merging {
    /* cladding is under the jewels in the merging game */
    z-index: unset;
  }

  & > div {
    background-color: var(--darkBg);
    position: relative;
    transition: opacity 1s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      border: solid 0.1em var(--darkBg);
      border-radius: 0.5em;
      background-color: var(--lightBg);
      background: linear-gradient(145deg, var(--lightBg) 55%, var(--bg) 200%);
    }

    &.uncovered {
      opacity: 0;

      &::after {
        background: #ffca9b;
      }
    }
  }
}

.preload {
  position: absolute;
  opacity: 0;
}
