html {
  margin: 0;
  padding: 0;

  --darkBg: #6b0000;
  --bg: #921710;
  --lightBg: #c28550;
}

body {
  padding: 2em;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: var(--lightBg);
  flex: 0 1;
}

#tree {
  width: 400px;
  max-height: 400px;
  margin: 2em;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  position: relative;

  & > svg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    background: radial-gradient(ellipse 200% 150% at 50% 150%, #0f0, #080 50%, #0ff 50%, #00a);

    path {
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      stroke: var(--darkBg);
    }

    .branch {
      stroke-width: 0.2;
    }
  }
}

#movesBox {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  justify-content: stretch;
  background: black;

  &::before {
    content: '';
    flex-grow: 1;
    border-bottom-right-radius: 1em;
    background-color: var(--bg);
  }
  &::after {
    content: '';
    flex-grow: 1;
    border-bottom-left-radius: 1em;
    background-color: var(--bg);
  }

  & > div {
    background-color: var(--bg);
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: end;

    & > span {
      display: block;
      background-color: var(--lightBg);
      color: var(--bg);
      padding: 0 2rem;
      margin: 0.3rem 0.3rem 0;
      border-radius: 1rem;
      z-index: 1;
      font-size: 250%;
      line-height: 1em;
      font-weight: bold;

      &.tomorrow {
        font-size: 125%;
        line-height: 2em;
        font-weight: normal;
      }
    }

    &::before {
      content: '';
      background-color: black;
      position: absolute;
      inset: 0;
      border-radius: 1em 1em 0 0;
    }
  }
}

#canvasBox {
  display: block;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
  background-color: var(--darkBg);
  border: solid thick black;
  border-radius: 0.5em;
}

img.jewel {
  --scale: scale(90%);
  --translate: translate(-50%, -50%);
  position: absolute;
  transform: var(--translate) var(--scale);

  &.flip {
    transform: var(--translate) var(--scale) rotate(90deg);
  }

  &.uncovered {
    --scale: scale(0);
    transition: transform 1s;
  }
}

.jewel.shadow {
  filter: grayscale(100%) contrast(0.05);

  &.uncovered {
    filter: none;
    transition: filter 1s ease-in;
  }
}

#cladding {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(var(--size, 5), 1fr);
  grid-template-rows: repeat(var(--size, 5), 1fr);
  border-radius: 0.5em;
  z-index: 1;

  & > div {
    background-color: black;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--lightBg);
      border: solid thin black;
      border-radius: 0.5em;
    }

    &.uncovered {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}
